In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set()
from sklearn.linear_model import LinearRegression

In [5]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [6]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [7]:
df1=df.drop(['availability','area_type','society','balcony'],axis='columns')

In [8]:
df1

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [9]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [10]:
df2=df1.dropna()

In [11]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [12]:
df2['size']=df2['size'].replace('1 Bedroom','1 BHK')
df2['size']=df2['size'].replace('2 Bedroom','2 BHK')
df2['size']=df2['size'].replace('3 Bedroom','3 BHK')
df2['size']=df2['size'].replace('4 Bedroom','4 BHK')
df2['size']=df2['size'].replace('5 Bedroom','5 BHK')
df2['size']=df2['size'].replace('6 Bedroom','6 BHK')
df2['size']=df2['size'].replace('7 Bedroom','7 BHK')
df2['size']=df2['size'].replace('8 Bedroom','8 BHK')
df2['size']=df2['size'].replace('9 Bedroom','9 BHK')
df2['size']=df2['size'].replace('10 Bedroom','10 BHK')
df2['size'].unique().sum()

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

'2 BHK4 BHK3 BHK6 BHK1 BHK1 RK8 BHK7 BHK5 BHK11 BHK9 BHK27 BHK10 BHK11 Bedroom19 BHK16 BHK43 Bedroom14 BHK12 Bedroom13 BHK18 Bedroom'

In [13]:
df2.groupby('size')['size'].agg('count')

size
1 BHK          636
1 RK            13
10 BHK          14
11 BHK           2
11 Bedroom       2
12 Bedroom       1
13 BHK           1
14 BHK           1
16 BHK           1
18 Bedroom       1
19 BHK           1
2 BHK         5527
27 BHK           1
3 BHK         4832
4 BHK         1395
43 Bedroom       1
5 BHK          353
6 BHK          221
7 BHK          100
8 BHK           89
9 BHK           54
Name: size, dtype: int64

In [14]:
df2['size']=df2['size'].replace('1 RK','1 BHK')

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df2.groupby('size')['size'].agg('count')

size
1 BHK          649
10 BHK          14
11 BHK           2
11 Bedroom       2
12 Bedroom       1
13 BHK           1
14 BHK           1
16 BHK           1
18 Bedroom       1
19 BHK           1
2 BHK         5527
27 BHK           1
3 BHK         4832
4 BHK         1395
43 Bedroom       1
5 BHK          353
6 BHK          221
7 BHK          100
8 BHK           89
9 BHK           54
Name: size, dtype: int64

In [16]:
df2.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [17]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [18]:
df2[~df2['total_sqft'].apply(is_float)]

                 location   size   total_sqft  bath    price
30              Yelahanka  4 BHK  2100 - 2850   4.0  186.000
122                Hebbal  4 BHK  3067 - 8156   4.0  477.000
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005
165              Sarjapur  2 BHK  1145 - 1340   2.0   43.490
188              KR Puram  2 BHK  1015 - 1540   2.0   56.800
...                   ...    ...          ...   ...      ...
12975          Whitefield  2 BHK   850 - 1060   2.0   38.190
12990      Talaghattapura  3 BHK  1804 - 2273   3.0  122.000
13059              Harlur  2 BHK  1200 - 1470   2.0   72.760
13265               Hoodi  2 BHK  1133 - 1384   2.0   59.135
13299          Whitefield  4 BHK  2830 - 2882   5.0  154.500

[190 rows x 5 columns]

In [19]:
l=df2.groupby('location')['location'].agg('count').sort_values(ascending=False)
l

location
Whitefield                            534
Sarjapur  Road                        392
Electronic City                       302
Kanakpura Road                        266
Thanisandra                           233
                                     ...
Konappana Agrahara                      1
Kodanda Reddy Layout                    1
Kirloskar layout, Basaveshwarnagar      1
Kengeri Satellite Town Stage II         1
 Anekal                                 1
Name: location, Length: 1304, dtype: int64

In [20]:
len(l[l<=10])

1063

In [21]:
l2=l[l<10]
l2

location
Mathikere                             9
2nd Phase JP Nagar                    9
Gollahalli                            9
Yemlur                                9
Ejipura                               9
                                     ..
Konappana Agrahara                    1
Kodanda Reddy Layout                  1
Kirloskar layout, Basaveshwarnagar    1
Kengeri Satellite Town Stage II       1
 Anekal                               1
Name: location, Length: 1051, dtype: int64

In [22]:
df1.location=df1.location.apply(lambda x :'other' if x in l2 else x)
len(df1.location.unique())

256

In [23]:
df1.head(15)

                    location       size total_sqft  bath   price
0   Electronic City Phase II      2 BHK       1056   2.0   39.07
1           Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                Uttarahalli      3 BHK       1440   2.0   62.00
3         Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                   Kothanur      2 BHK       1200   2.0   51.00
5                 Whitefield      2 BHK       1170   2.0   38.00
6           Old Airport Road      4 BHK       2732   4.0  204.00
7               Rajaji Nagar      4 BHK       3300   4.0  600.00
8               Marathahalli      3 BHK       1310   3.0   63.25
9                      other  6 Bedroom       1020   6.0  370.00
10                Whitefield      3 BHK       1800   2.0   70.00
11                Whitefield  4 Bedroom       2785   5.0  295.00
12        7th Phase JP Nagar      2 BHK       1000   2.0   38.00
13                 Gottigere      2 BHK       1100   2.0   40.00
14                  Sarjapur  3 Bedroom       2250   3.0  148.00

In [24]:
df2.shape

(13246, 5)

In [27]:
df2['room'] =df2['size'].str.split(' ',expand =True)

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df2.head()

                   location   size total_sqft  bath   price room
0  Electronic City Phase II  2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 BHK       2600   5.0  120.00    4
2               Uttarahalli  3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli  3 BHK       1521   3.0   95.00    3
4                  Kothanur  2 BHK       1200   2.0   51.00    2

In [29]:
df3=df2.copy()
df3['room'] = df3['room'].astype('float')

In [30]:
df3.head()

                   location   size total_sqft  bath   price  room
0  Electronic City Phase II  2 BHK       1056   2.0   39.07   2.0
1          Chikka Tirupathi  4 BHK       2600   5.0  120.00   4.0
2               Uttarahalli  3 BHK       1440   2.0   62.00   3.0
3        Lingadheeranahalli  3 BHK       1521   3.0   95.00   3.0
4                  Kothanur  2 BHK       1200   2.0   51.00   2.0

In [33]:
df3['area']=df3['total_sqft'].str.split(' - ',expand=True)

In [34]:
df3.head(1)

                   location   size total_sqft  bath  price  room  area
0  Electronic City Phase II  2 BHK       1056   2.0  39.07   2.0  1056

In [35]:
df3.shape

(13246, 7)

In [36]:
def area(x):
    try:
        float(x)
    except:
        return True
    return False

In [37]:
df4=df3[~df3['area'].apply(area)]

In [38]:
df4['area'] = df4['area'].astype('float')

C:\Users\amitk\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df4.head()

                   location   size total_sqft  bath   price  room    area
0  Electronic City Phase II  2 BHK       1056   2.0   39.07   2.0  1056.0
1          Chikka Tirupathi  4 BHK       2600   5.0  120.00   4.0  2600.0
2               Uttarahalli  3 BHK       1440   2.0   62.00   3.0  1440.0
3        Lingadheeranahalli  3 BHK       1521   3.0   95.00   3.0  1521.0
4                  Kothanur  2 BHK       1200   2.0   51.00   2.0  1200.0

In [40]:
df4.shape

(13200, 7)

In [41]:
df4[df4['area']/df4['room']>300]
df4.shape

(13200, 7)

In [42]:
df5=df4[df4['area']/df4['room']>300]

In [43]:
df5.shape

(12272, 7)

In [44]:
df6=df5.copy()
df6['rate']=(df6['price']*100000)/df6['area']
df6.shape

(12272, 8)

In [45]:
df6.describe()

               bath         price          room          area           rate
count  12272.000000  12272.000000  12272.000000  12272.000000   12272.000000
mean       2.545551    110.634959      2.631437   1595.265563    6218.272517
std        1.067616    152.934574      0.963687   1267.195356    4054.202930
min        1.000000      9.000000      1.000000    340.000000     267.829813
25%        2.000000     49.000000      2.000000   1115.000000    4200.558331
50%        2.000000     69.180000      3.000000   1301.500000    5272.988756
75%        3.000000    115.000000      3.000000   1702.000000    6833.110517
max       16.000000   3600.000000     16.000000  52272.000000  176470.588235

In [46]:
df7=df6[(df6['area']>328) & (df6['area']<=2862)]

In [47]:
df7.shape

(11378, 8)

In [48]:
df8=df7[(df7['rate']>2164) & (df7['rate']<=10272)]
df8.shape

(10579, 8)

In [49]:
df9=df8[(df8['bath']<df8['room']+2)]

In [50]:
df9.shape

(10554, 8)

In [51]:
df10=df9[(df9.room - df9.bath)<=2]
df10.shape

(10551, 8)

In [52]:
df10.groupby('bath')['bath'].agg('count')

bath
1.0     666
2.0    6610
3.0    2723
4.0     424
5.0      96
6.0      20
7.0       9
8.0       3
Name: bath, dtype: int64

In [53]:
df10.groupby('room')['room'].agg('count')

room
1.0     575
2.0    5297
3.0    4213
4.0     377
5.0      56
6.0      22
7.0       9
8.0       2
Name: room, dtype: int64

In [54]:
df10.shape

(10551, 8)

In [55]:
df10.groupby('location')['location'].agg('count')

location
 Anekal                  1
 Banaswadi               1
 Basavangudi             1
 Devarabeesana Halli     6
 Devarachikkanahalli    13
                        ..
rr nagar                 1
sankeswari               1
sapthagiri Layout        1
tc.palya                 4
whitefiled               1
Name: location, Length: 1029, dtype: int64

In [56]:
df10.location=df1.location.apply(lambda x :'other' if x in l2 else x)
len(df1.location.unique())

C:\Users\amitk\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

256

In [57]:
dummies=pd.get_dummies(df10['location'])
dummies.head(10)

,Devarachikkanahalli,1st Block Jayanagar,1st Block Koramangala,1st Phase JP Nagar,2nd Phase Judicial Layout,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
dummies.shape

(10551, 251)

In [59]:
df11=pd.concat([df10, dummies.drop ('other',axis ='columns')],axis='columns')
df11.head()

,location,size,total_sqft,bath,price,room,area,rate,Devarachikkanahalli,1st Block Jayanagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Electronic City Phase II,2 BHK,1056,2.0,39.07,2.0,1056.0,3699.810606,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,4 BHK,2600,5.0,120.00,4.0,2600.0,4615.384615,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,3 BHK,1440,2.0,62.00,3.0,1440.0,4305.555556,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3.0,1521.0,6245.890861,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2 BHK,1200,2.0,51.00,2.0,1200.0,4250.000000,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
df12=df11.drop('location',axis='columns')
df12.head()

,size,total_sqft,bath,price,room,area,rate,Devarachikkanahalli,1st Block Jayanagar,1st Block Koramangala,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2 BHK,1056,2.0,39.07,2.0,1056.0,3699.810606,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4 BHK,2600,5.0,120.00,4.0,2600.0,4615.384615,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3 BHK,1440,2.0,62.00,3.0,1440.0,4305.555556,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3 BHK,1521,3.0,95.00,3.0,1521.0,6245.890861,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2 BHK,1200,2.0,51.00,2.0,1200.0,4250.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
x=df8.drop(['size','total_sqft','bath','location','price'],axis='columns')
x.head()

   room    area         rate
0   2.0  1056.0  3699.810606
1   4.0  2600.0  4615.384615
2   3.0  1440.0  4305.555556
3   3.0  1521.0  6245.890861
4   2.0  1200.0  4250.000000

In [102]:
x.columns

Index(['room', 'area', 'rate'], dtype='object')

In [103]:
y=df8['price']
y.head()

0     39.07
1    120.00
2     62.00
3     95.00
4     51.00
Name: price, dtype: float64

In [104]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression ()
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [112]:
reg.coef_

array([-1.90227047,  0.06020829,  0.01395207])

In [113]:
reg.intercept_

-76.76941186133443

In [118]:
reg.predict([(4,1058,4562.2563)])

array([42.97480616])

In [119]:
4*-1.90227047 + 1058*0.06020829+0.01395207*4562.2563-76.76941186133443

42.97479633420657